<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1>Editar</h1>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Alteração de Usuario</h2>
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${mensagem}"></span>
                </div>

                <form action="#" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" method="post">
                    <input type="hidden" name="_method" value="put">

                    <input type="hidden" name="moment" id="moment" th:field="*{moment}">

                    <div class="row mb-3">
                        <label for="nome" class="col-sm-1 col-form-label">Nome:</label>
                        <div class="col-sm-5">
                            <input id="nome" class="form-control" type="text" th:field="*{nome}" />
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="email" class="col-sm-1 col-form-label">E-mail:</label>
                        <div class="col-sm-3">
                            <input id="email" class="form-control" type="text" th:field="*{email}" />
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="dataNacimento" class="col-sm-1 col-form-label">Data de Nascimento:</label>
                        <div class="col-sm-2">
                            <input id="dataNacimento" class="form-control" type="text" th:field="*{dataNascimento}" />
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="senha" class="col-sm-1 col-form-label">Senha:</label>
                        <div class="col-sm-2">
                            <input id="senha" class="form-control" type="password" th:field="*{senha}" />
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Alterar" />
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>